body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    border-bottom: 1px solid #112851;
    position: sticky;
    top: 0;
    z-index: 1;
}

ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #051934;
}

ul.horizontal li > a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 26px 30px;
    text-decoration: none;
}

ul.horizontal li a:hover {
    background-color: #fff;
    color: #000;
}

ul.horizontal li a.active {
    background-color: #fff;
    color: #000;
}

ul.horizontal li {
    float: left;
}

ul.horizontal li.logo {
    float: right;
}

.main-image {
    width: 100%;
}

.history {
    padding: 50px 250px;
}

.img-wrapper {
    text-align: center;
}

.last-victory {
    background-color: #edeef2;
    padding: 50px 250px;
}

.statistics > div {
    width: 180px;
    display: inline-block;
    margin-right: 30px;
}

.statics-panel {
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 50px;
    text-align: center;

}

.last-victory > div {
    display: inline-block;
}

.match {
    background-color: #fff;
    width: 400px;
    padding: 20px;
}

.match > div {
    display: inline-block;
    text-align: center;
}

.second-team {
    float: right;
}

.versus {
    font-size: 100px;
    text-align: center;
    width: 200px;
}

footer {
    background-color: #051934;
    height: 200px;
    text-align: center;
    line-height: 200px;
}

.soc-links {
    color: #ffffff;
    vertical-align: center;
}

.soc-links ul {
    margin: 0;
}

.soc-links ul li {
    display: inline-block;
    padding: 0 10px;
}

li.logo > img {
    padding: 8px 25px;

}


.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: #051934;
}

.matches:hover .dropdown-content {
    display: block;
}
html{
    overflow-x: hidden;
}

.dropdown-content a {
    display: block;
    color: white;
    padding: 25px 30px;
    text-decoration: none;
}

.dropdown-content a:hover::after {
    content: '';
    position: absolute;
    left: 100%;
    margin-top: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 0 35px 25px;
    border-color: transparent transparent transparent #ffffff;
}

/*task2*/

.main-title {
    text-align: center;
}

.image-form img {
    max-width: 100%;
    max-height: 500px;
}

.image-form {
    padding: 30px 100px;
}


.btn {
    box-shadow: inset 0px 1px 0px 0px #54a3f7;
    background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    background-color: #007dc1;
    border-radius: 3px;
    border: 1px solid #124d77;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #154682;
    margin-left: 150px;
    margin-top: -80px;
}

.btn:hover {
    background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
}

.btn:active {
    position: relative;
    top: 1px;
}

.details-form {
    padding: 30px 100px;
}

.details-form > input, textarea {
    display: inline-block;
    width: 50%;
    margin-bottom: 20px;
    padding: .375rem 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    max-width: 50%;
}

.img-wrapper {
    width: 50%;
    display: inline-block;
}


.flip-in-hor-bottom {
    animation: flip-in-hor-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes flip-in-hor-bottom {
    0% {
        transform: rotateX(80deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0);
        opacity: 1;
    }
}

.scale-up-center:hover {
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-center {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

.rotate-center {
    animation: rotate-center 0.6s ease-in-out both;
}

.rotate-center:hover {
    animation: rotate-center 0.6s ease-in-out both;
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.shadow-drop-2-center:hover {
    animation: shadow-drop-2-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes shadow-drop-2-center {
    0% {
        transform: translateZ(0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        transform: translateZ(100px);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.7);
    }
}

.wobble-hor-bottom {
    animation: wobble-hor-bottom 0.8s both;
}

.wobble-hor-bottom:hover {
    animation: wobble-hor-bottom 0.8s both;
}

@keyframes wobble-hor-bottom {
    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }
    15% {
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

.slide-in-left {
    animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }

}

.slide-out-right:hover {
    animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes slide-out-right {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(1000px);
        opacity: 0;
    }
}
  

